.container {
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 76px);;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logoContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero{
    max-width: 400px;
    object-fit: cover;
    width: auto;
    height: auto;
}
.title{
    color: #fff;
    text-align: center;
    line-height: 150%;
}
.logoContent .infoContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    background-color: #fff;
    color: #000;
    padding:14px 44px;
    border-radius: 5px;
    margin: 20px;
}
@media screen and (max-width: 500px){
    .hero{
        max-width: 80%;
    }
    .title{
        font-size: 20px;
        margin-top: 20px;
    }
    .infoContent{
        flex-direction: column;
    }
    .box{
        width: 120%;
        text-align: center;


    }
}